.nav {
	display: flex;
	gap: 2%;
	padding: 1.3em;
}

.page {

	main {
		padding: 1.1em;
	}

	h1 {
		margin: 0;
	}

	.paras {
		display: flex;
		flex-direction: row;
		gap: 2em;

		p {
			text-wrap: pretty;
			text-align: justify;
		}
	}
}



@media all and (max-width: 525px) {

	.nav {
		justify-content: space-evenly;
	}

	.page .paras {
		flex-direction: column;
		gap: 0.5em;
	}

}


.inner {

	.back {
		width: 100vw;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		pointer-events: none;
		background-color: black;
	}

	.ladder {
		width: 100vw;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		pointer-events: none;
		display: flex;

		.column {
			width: 100%;
			height: 100%;
			background-color: black;
			position: relative;
			opacity: 1;
		}



	}
}
