.nav {
	display: flex;
	gap: 2%;
}

.page {
	padding: 1.1em;

	main {
		padding: 1.1em;
	}

	.paras {
		display: flex;
		flex-direction: row;
		gap: 2em;

		p {
			text-wrap: pretty;
			text-align: justify;
		}
	}
}



@media all and (max-width: 525px) {

	.nav {
		justify-content: space-evenly;
	}

	.page .paras {
		flex-direction: column;
		gap: 0.5em;
	}

}
